@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me";
}


<!--Picture of Scuba Diving-->
<img id="scuba-pic" src="img/scuba.jpg" class="img-fluid scuba-pic" />

<div class="container-fluid">
    <div class="row justify-content-evenly">
        <br />
        <br />
        <div id="about" class="col align-self-center">

            <!--Expectation for the class-->
            <p class="about-txt">I hope to hone my skills as a developer and learn enterprise level skills when building applications. I hope to become proficient in C# and ASP.NET.</p><br />
        </div>

        <div id="about2" class="col align-self-center">
            <!--Jobs interested in-->
            <div class="container">
                <p class="about-txt">Top 3 jobs i'm interested in upon graduation:</p>
                <ul>
                    <li class="about-txt">Developer</li>
                    <li class="about-txt">Cloud Solutions Architect</li>
                    <li class="about-txt">Some job in cybersecurity</li>
                </ul><br />
            </div>
        </div>
</div>

<br />
<br />